<html lang="en"><head>

	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="">
	<meta name="author" content="">
	<link rel="icon" type="image/png" href="img/favicon.png">

	<title><%= title %></title>

	<!-- Bootstrap Core CSS -->
	<link href="/css/bootstrap.min.css" rel="stylesheet">

	<!-- Custom CSS -->
	<link href="/css/style.css" rel="stylesheet">

	<!-- Custom Fonts -->
	<link href="/css/font-awesome.min.css" rel="stylesheet" type="text/css">
	<link href="/css/myriad.css" rel="stylesheet" type="text/css">

	<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
	<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
	<!--[if lt IE 9]>
		<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
		<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
	<![endif]-->

</head>

<body>
	
	<!-- Navigation -->
	<%- include('partials/navbar') %>

	<div style="margin: 32px 0px 40px 0px">
		<div class="row">
		</div>
		<div>
			<div class="vertical-tabs">
	      <ul class="nav nav-tabs" role="tablist">
	        <li class="nav-item">
	          <a class="nav-link active" data-toggle="tab" href="#pag1" role="tab" aria-controls="home"><% user.firstname %></a>
	        </li>
	        <li class="nav-item">
	          <a class="nav-link" data-toggle="tab" href="#pag2" role="tab" aria-controls="profile">Página 2</a>
	        </li>
	        <li class="nav-item">
	          <a class="nav-link" data-toggle="tab" href="#pag3" role="tab" aria-controls="messages">Página 3</a>
	        </li>
	        <li class="nav-item">
	          <a class="nav-link" data-toggle="tab" href="#pag4" role="tab" aria-controls="settings">Página 4</a>
	        </li>

	        <li class="nav-item">
	          <a class="nav-link" data-toggle="tab" href="#pag5" role="tab" aria-controls="settings">Página 5</a>
	        </li>
	        <li class="nav-item">
	          <a class="nav-link" data-toggle="tab" href="#pag6" role="tab" aria-controls="settings">Página 6</a>
	        </li>
	        <li class="nav-item">
	          <a class="nav-link" data-toggle="tab" href="#pag7" role="tab" aria-controls="settings">Página 7</a>
	        </li>
	      </ul>
      <div class="tab-content">
        <div class="tab-pane active" id="pag1" role="tabpanel">
          <div class="sv-tab-panel">
            <h3>TAB 1</h3>
            <p>CONTEUDO 1</p>
          </div>
        </div>
        <div class="tab-pane" id="pag2" role="tabpanel">
          <div class="sv-tab-panel">
            <h3>TAB 2</h3>
            <p>CONTEUDO 2</p>
          </div>
        </div>
        <div class="tab-pane" id="pag3" role="tabpanel">
          <div class="sv-tab-panel">
            <h3>TAB 3</h3>
            <p>CONTEUDO 3</p>
          </div>
        </div>
        <div class="tab-pane" id="pag4" role="tabpanel">
          <div class="sv-tab-panel">
           <h3>TAB 4</h3>
            <p>CONTEUDO 4</p>
          </div>
        </div>

        <div class="tab-pane" id="pag5" role="tabpanel">
          <div class="sv-tab-panel">
            <h3>TAB 5</h3>
            <p>CONTEUDO 5</p>
          </div>
        </div>

        <div class="tab-pane" id="pag6" role="tabpanel">
          <div class="sv-tab-panel">
            <h3>TAB 6</h3>
            <p>CONTEUDO 6</p>
          </div>
        </div>

        <div class="tab-pane" id="pag7" role="tabpanel">
          <div class="sv-tab-panel">
            <h3>TAB 7</h3>
            <p>CONTEUDO 7</p>
          </div>
        </div>

      </div>
	</div>

	<!-- Footer -->
	<%- include('partials/contact') %>

	<!-- jQuery -->
	<script src='javascripts/lib/jquery.min.js'></script>

	<!-- Bootstrap Core JavaScript -->
	<script src="javascripts/bootstrap.min.js"></script>

	<!-- Custom JavaScript -->

	<!-- <script src="res/js/nav.js"></script> -->




</body></html>
